{% extends "base.html" %}
{% block title %}Educacion{% endblock title %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card border-success">
      <img src="static\img/etiqueta.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center fs-3">🏷️Etiquetas Nutricionales🏷️</h5>
        <a href="{{ url_for('etiqueta') }}" class="btn btn-success w-100 mt-3 fs-4">Da click para saber mas informacion</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-success">
      <img src="static\img/mito.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center fs-3">🥗Mitos y Verdades sobre las dietas de moda🥗</h5>
        <a href="{{ url_for('mito') }}" class="btn btn-success w-100 mt-3 fs-4">Da click para saber mas informacion</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-success">
      <img src="static\img/macro.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center fs-3">🥚Guia sobre macronutrientes y su funcion🥚</h5>
        <a href="{{ url_for('guia') }}" class="btn btn-success w-100 mt-3 fs-4">Da click para saber mas informacion</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-success">
      <img src="static\img/hidra.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center fs-3">🌾🫗Importancia de la fibra y la hidratacion🫗🌾</h5>
        <a href="{{ url_for('importancia') }}" class="btn btn-success w-100 mt-3 fs-4">Da click para saber mas informacion</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-success">
      <img src="static\img/ejerc.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center fs-3">🏋️‍♀️Ejercicios basicos🏋️‍♀️</h5>
        <a href="{{ url_for('videos') }}" class="btn btn-success w-100 mt-3 fs-4">Da click para saber mas informacion</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
