{% extends "base.html" %}
{% block title %}Educacion{% endblock title %}
{% block content %}
<div class="card">
  <h5 class="card-header text-center bg-success text-white fs-3">🧠¡No solo es nutricion, aprende un poco mas!🧠</h5>
  <div class="card-body">
    <h5 class="card-title text-center fs-3">• ¿Cómo leer las etiquetas nutricionales?🤔</h5>
    <p class="card-text fs-3">-La información de la sección principal o superior (ver #1-4) de la etiqueta nutricional de muestra (abajo) puede variar en cada alimento y bebida; contiene información específica del producto (tamaño de la porción, calorías e información sobre los nutrientes). La parte inferior contiene una nota a pie de página en la que se explica el porcentaje de valor diario (%VD o DV en inglés) e indica el número de calorías aconsejado en las recomendaciones generales de nutrición.</p>
    <img src="static\img/etiqueta.png" class="img-fluid d-block mx-auto mt-4 mb-4" alt="VitaPlena">
    <p class="card-text fs-3">•Información sobre las porciones:
        <ul>
<li>Calorías</li>
<li>Nutrientes</li>
<li>Guía rápida sobre el porcentaje del valor diario (%VD)</li>
        <ul>
<li>5 % o menos es bajo</li>
<li>20 % o más es alto</li></p>
        </ul>
    </ul>
</div>
</div>
{% endblock %}