{% extends "base.html" %}
{% block title %}Descubrete{% endblock title %}
{% block content %}
<div class="container py-5 mx-auto">
        <div class="row justify-content-center my-5">

<div class="col-12 col-md-8 col-lg-6">
                <div class="card shadow-lg p-4">

<div class="container mt-5 fs-4">
  <h2 class="text-center text-success mb-4 ">Descúbrete</h2>
  <form action="/descubrete" method="post" class="mx-auto" style="max-width: 500px;">
    
    <div class="mb-3">
      <label for="peso" class="form-label">Peso (kg):</label>
      <input type="number" step="0.1" name="peso" id="peso" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="estatura" class="form-label">Estatura (m):</label>
      <input type="number" step="0.01" name="estatura" id="estatura" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="edad" class="form-label">Edad:</label>
      <input type="number" name="edad" id="edad" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="genero" class="form-label">Género:</label>
      <select name="genero" id="genero" class="form-select" required>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="actividad" class="form-label">Nivel de actividad:</label>
      <select name="actividad" id="actividad" class="form-select" required>
        <option value="1.2">Sedentario(Nada de ejercicio)</option>
        <option value="1.375">Ligero (ejercicio 1-3 días/semana)</option>
        <option value="1.55">Moderado (ejercicio 3-5 días/semana)</option>
        <option value="1.725">Activo (ejercicio 6-7 días/semana)</option>
        <option value="1.9">Muy activo (entrenamientos intensos)</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success w-100">Calcular</button>
  </div>
</div>
  </form>
</div>
</div>
</div>
{% endblock %}