{% extends "base.html" %}
{% block title %}Guia{% endblock title %}
{% block content %}
<div class="card text-center">
        <h5 class="card-header text-center bg-success text-white fs-3">
        👌Guia de macronutrientes y su funcion👌</h5>

        <div class="card-body">
        <img src="static\img/macronu.png" class="rounded" alt="..." width="300" height="300">
        <p class="card-text text-center fst-italic fs-5">Los MACRONUTRIENTES son aquellas sustancias que proporcionan energía al organismo para un buen funcionamiento, y otros elementos necesarios para reparar y construir estructuras orgánicas, para promover el crecimiento y para regular procesos metabólicos. </p>
        
        <h5 class="card-text text-center fst-italic fs-5">Este grupo está constituido por: </h5>

        <h5 class="card-title text-bold fs-4">•Proteínas</h5>
        <h5 class="card-title text-bold fs-4">•Grasas</h5>
        <h5 class="card-title text-bold fs-4">•Hidratos de Carbono</h5>

        <h5 class="card-title text-bold fs-4">PROTEÍNAS:</h5>
        <p class="card-text fst-italic fs-5">Son los componentes de las estructuras de las células. 
        Las necesidades de un adulto sano y sedentario son 0,8-1 g/kg/día. Nos aportan 4 kcalorías/gramo. 
        Se recomienda entre un 10-15% del total de las calorías de la dieta en forma de proteínas en una
        dieta equilibrada.</p>
        <p class="card-text fst-italic fs-5">Sus funciones incluyen la construcción y reparación de 
        tejidos (músculos, huesos y piel), el transporte de moléculas, la regulación de procesos 
        corporales mediante enzimas y hormonas, y la defensa del organismo contra infecciones a 
        través de los anticuerpos. </p>
        <img src="static\img/macronu2.png" class="rounded" alt="..." width="300" height="300">


        <h5 class="card-title text-bold fs-4">GRASAS:</h5>
        <p class="card-text fst-italic fs-5">Son nutrientes esenciales que el cuerpo utiliza para obtener 
        energía, formar membranas celulares y producir hormonas, además de ayudar a absorber vitaminas A, D, 
        E y K. Cumplen funciones vitales como el aislamiento térmico y la protección de órganos, pero es 
        crucial consumir preferentemente grasas saludables (insaturadas) y limitar las no saludables 
        (saturadas y trans). </p>
        <p class="card-text fst-italic fs-5">La grasa en el cuerpo es vital para el funcionamiento del 
        organismo, ya que actúa como reserva de energía, protege y aísla los órganos vitales, 
        regula la temperatura corporal, ayuda a absorber vitaminas y es esencial para la formación
        de células y la producción de hormonas. Sin embargo, un exceso de grasa, especialmente 
        la abdominal, está relacionado con un mayor riesgo de enfermedades como diabetes, 
        hipertensión y problemas cardíacos.</p>
        <img src="static\img/macronu3.png" class="rounded" alt="..." width="300" height="300">


        <h5 class="card-title text-bold fs-4">HIDRATOS DE CARBONO:</h5>
        <p class="card-text fst-italic fs-5">Los carbohidratos son macronutrientes que sirven como la 
        principal fuente de energía del cuerpo, descomponiéndose en glucosa para alimentar a las células. 
        También se utilizan para almacenar energía (en forma de glucógeno en el hígado y los músculos) y 
        cumplen funciones estructurales y metabólicas. Se clasifican en azúcares (simples), almidones 
        (complejos) y fibra, y se encuentran en alimentos como cereales, frutas, verduras y legumbres.</p>
        <p class="card-text fst-italic fs-5">Su principal función es la energética. Aportan la energía de 
        más fácil utilización (cada gramo aporta 4 kcal). La glucosa es la única fuente de energía para 
        el cerebro, que consume alrededor de 100 g al día.</p>
        <img src="static\img/macronu4.png" class="rounded" alt="..." width="300" height="300">


        <h5 class="text-center text-success fs-4">Alimenta tu cuerpo, nutre tu alma con el equilibrio 
        adecuado de proteínas, carbohidratos y grasas.</h5>

    
        <div class="text-center mt-5">
            <p><a href="https://www.fundacionparalasalud.org/infantil/202/macronutrientes" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-4" target="_blank">
            Para mas informacion
            </a></p>
            <a href="http://127.0.0.1:5000/edu" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-4">
                VOLVER
            </a>
        </div>
    </div>
</div>
{% endblock content %}