{% extends "base.html" %}
{% block title %}Guia{% endblock title %}
{% block content %}
<div class="card text-center">
        <h5 class="card-header text-center bg-success text-white fs-3">
        🫗🌾Importancia de la hidratacion y la fibra🌾🫗</h5>

        <div class="card-body">
        <img src="static\img/hf.png" class="rounded" alt="..." width="300" height="300">
        <p class="card-text text-center fst-italic fs-5">La hidratacion y las fibras</p>
        
        <h5 class="card-title text-bold fs-3">•Fibras</h5>
        <h5 class="card-title text-bold fs-3">•Hidratacion</h5>

        <h5 class="card-title text-bold fs-4">FIBRAS:</h5>
        <p class="card-text fst-italic fs-5">La fibra es fundamental para la salud, ya que promueve el 
        buen funcionamiento intestinal, ayuda a mantener un peso saludable al aumentar la saciedad, y 
        reduce el riesgo de enfermedades crónicas como la diabetes y cardiopatías. También puede ayudar 
        a prevenir ciertos tipos de cáncer y mejorar la microbiota intestinal. </p>
        <h5 class="card-title text-bold fs-4">BENEFICIOS</h5>
        <p class="card-text fst-italic fs-5">•La fibra ayuda a tener heces suaves y voluminosas, lo que es 
        beneficioso en condiciones como la enfermedad diverticular, las hemorroides y la constipación.</p>
        <p class="card-text fst-italic fs-5">•Un aumento en el consumo de fibra en general, junto con una 
        reducción en la densidad energética y en la ingesta de grasa, ayudan a prevenir el desarrollo de 
        diabetes y contribuyen a la reducción de peso corporal.</p>
        <p class="card-text fst-italic fs-5">•La fibra soluble puede disminuir las concentraciones del 
        colesterol LDL. La fibra proveniente de cereales y granos enteros tiene un mayor efecto protector 
        que la fibra proveniente de vegetales y frutas.</p>
        <img src="static\img/hf2.png" class="rounded" alt="..." width="300" height="300">

        <h5 class="card-title text-bold fs-4">HIDRATACION:</h5>
        <p class="card-text fst-italic fs-5">es crucial porque el agua es esencial para que el cuerpo 
        funcione correctamente, ayudando a regular la temperatura, transportar nutrientes, eliminar 
        desechos y mantener órganos y articulaciones lubricados. Una hidratación adecuada previene 
        problemas de salud como fatiga, mareos, estreñimiento y cálculos renales, y es vital para el 
        rendimiento físico y mental. </p>
        <h5 class="card-title text-bold fs-4">BENEFICIOS</h5>
        <p class="card-text fst-italic fs-5">•Contribuye a que los riñones funcionen bien. Algunos estudios indican que otro de los beneficios 
            del agua es un menor riesgo de padecer algunos tipos de cáncer, como el de vejiga y colon. Esto se debe a que una hidratación 
            adecuada repercute sobre el correcto funcionamiento de los riñones y del sistema inmunológico.</p>
        <p class="card-text fst-italic fs-5">•Mejora el sistema inmunológico. Cuando el cuerpo recibe la cantidad de agua adecuada, mejora el 
        sistema inmunológico. A nivel más específico, los beneficios de tomar agua permiten al organismo luchar contra enfermedades como la
        gripe y contra los ataques al corazón. También contribuye de forma importante frente a otros problemas de salud como el reumatismo, la 
        artritis, los cálculos renales, etc.</p>
        <img src="static\img/hf3.png" class="rounded" alt="..." width="300" height="300">

        <h5 class="text-center text-success fs-4">Toma más agua, come más fruta, sé más feliz</h5>

        <div class="text-center mt-5">
            <p><a href="https://www.minsalud.gov.co/Paginas/Los-beneficios-en-salud-de-una-%C3%B3ptima-hidrataci%C3%B3n.aspx" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-4" target="_blank">
            Para mas informacion
            </a></p>
            <p><a href="https://ve.scielo.org/scielo.php?script=sci_arttext&pid=S0798-07522014000100011" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-4" target="_blank">
            Para mas informacion
            </a></p>
            <a href="http://127.0.0.1:5000/edu" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-4">
                VOLVER
            </a>
        </div>
    </div>
</div>
{% endblock content %}