{% extends "base.html" %}
{% block title %}VitaPlena{% endblock title %}
{% block content %}
    <div class="container py-5">
        <div class="card bg-white shadow-lg mx-auto"> 
            <div class="card-body">
                <div class="text-center mx-auto">
                    <img src="static\img/VitaPlena.png" class="rounded w-25" alt="VitaPlena">
                    <h2 class="mb-3 display-3 fw-bold text-success">🥗Vita Plena🥗</h2>
                </div> 
                
                <div class="container mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-8 mx-auto text-center">
                            <h1>Bienvenido</h1>
                            <p class="fst-italic text-black lead fs-3">Este sitio te ofrece a aprender mas sobre tu salud y a darte recomendaciones para un mejor futuro.
                                Espero que disfrutes de esta aplicacion y te sirva para lo que buscas, puedes encontrar testimonios de personas que hablan sobre su historia
                                y como lograron solucionarlo.🥪
                            </p>
                            <a href="registro.html" class="btn btn-success btn-lg">¿Quieres comenzar?</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    {% endblock content %}