{% extends "base.html" %}
{% block title %}Mito{% endblock title %}
{% block content %}
<div class="card">
        <h5 class="card-header text-center bg-success text-white fs-3">
        🤦‍♀️Mitos y verdades sobre las dietas de moda.🤦‍♀️</h5>

        <div class="card-body text-center">
        <img src="static\img/dieta.png" class="rounded" alt="..." width="300" height="300">
        <p class="card-text text-center fst-italic fs-5">Las dietas de moda a menudo prometen resultados 
        rápidos, pero la mayoría son insostenibles y perjudiciales para la salud a largo plazo. 
        Un mito es que estas dietas son la mejor manera de perder peso de forma permanente; la 
        realidad es que suelen provocar un efecto rebote y no ofrecen una solución duradera. En 
        cambio, una pérdida de peso saludable y sostenible se logra a través de una dieta equilibrada, 
        con déficit calórico controlado y ejercicio físico regular. </p>
        
        <h5 class="card-title text-bold fs-3">🤔Si la etiqueta dice "sin grasa" (no-fat) o "con poca grasa" (low-fat ), puede comer todo lo que quiera y no subirá de peso.</h5>
        <p class="card-text fst-italic fs-5">Muchos alimentos con poca grasa o sin grasa tienen azúcares 
        añadidos, almidones o sal para compensar la reducción en grasa. Estos alimentos "maravilla" a 
        menudo tienen la misma cantidad de calorías, o incluso más, que la versión regular.Revise la 
        etiqueta de nutrición para saber cuántas calorías tiene cada porción. Asegúrese de revisar 
        también el tamaño de la porción.</p>
        <img src="static\img/dieta2.png" class="rounded" alt="..." width="300" height="300">
        <h5 class="card-title text-bold fs-3">🤔Ayunar puede ayudarle a bajar de peso rápidamente.</h5>
        <p class="card-text fst-italic fs-5"> Ayunar no es saludable si usted pasa hambre todo el día y 
        luego culmina con una comida enorme que reemplaza todas las calorías que no comió antes. 
        Comparados con las personas que pierden grasa al comer menos calorías, las personas que ayunan 
        pierden más músculo que grasa.Examine su dieta diaria en busca de calorías vacías que pueda 
        eliminar, como granos refinados y bebidas azucaradas. No elimine comidas por completo, 
        especialmente si no cuenta con la supervisión de un médico.</p>
        <img src="static\img/dieta3.png" class="rounded" alt="..." width="300" height="300">
        <h5 class="card-title text-bold fs-4">🤔Comer por la noche lo hará aumentar de peso.</h5>
        <p class="card-text fst-italic fs-5"> Las personas que comen tarde por la noche tienden a subir 
        de peso. Una posible razón es que quienes comen tarde en la noche tienden a elegir refrigerios 
        altos en calorías. Algunas personas que comen refrigerios tras la cena no duermen bien, lo que
        puede llevar a antojos poco saludables al día siguiente.Si siente hambre tras la cena, limítese a 
        comer refrigerios saludables como yogur con un contenido bajo de grasas o zanahorias bebé.</p>
        <img src="static\img/dieta4.png" class="rounded" alt="..." width="300" height="300">
        <h5 class="card-title text-bold fs-4">🤔Dieta Keto</h5>
        <p class="card-text fst-italic fs-5">Plan dietético que se basa en incrementar el consumo de grasas saludables y disminuir el consumo de 
        hidratos de carbono para entrar en un estado metabólico de cetosis. Así, el organismo empieza a usar la grasa como fuente de energía.
        En los últimos tiempos, esta dieta ha ganado popularidad para perder peso, porque tiene múltiples 
        ventajas y beneficios.Uno de los mitos entorno a la dieta keto es que es poco saludable y de baja 
        calidad nutricional, pero esto solamente depende de los alimentos elegidos, ya que, si escogemos
        proteínas magras, grasas insaturadas  y poca ingesta de frutas y verduras , obtendremos una dieta 
        saludable y nutritiva.</p>
        <img src="static\img/dieta5.png" class="rounded" alt="..." width="300" height="300">
        <h5 class="card-title text-bold fs-4">🤔Dieta Vegetariana</h5>
        <p class="card-text fst-italic fs-5">Las dietas vegetarianas varían en cuanto a los alimentos que 
        incluyen y excluyen:Lactovegetarianas: incluyen leche y sus derivados.Ovovegetarianas: incluyen 
        huevo.Lactoovovegetariana: incluye leche, sus derivados y huevo.Pescetariana: incluye pescado.
        Veganas: que no incluyen ningún alimento de origen animal.Se necesita una suplementación, y no es
        así en todos los casos,cada persona es distinta y puede tener diferentes aportes nutricionales 
        antes de considerar una suplementación.</p>
        <img src="static\img/dieta6.png" class="rounded" alt="..." width="300" height="300">
        <h5 class="card-title text-bold fs-4">🤔Dieta Mediterránea</h5>
        <p class="card-text fst-italic fs-5">Los alimentos de origen vegetal, como cereales integrales, 
        verduras, legumbres, frutas, frutos secos, semillas, hierbas y especias son la base de la dieta. 
        El aceite de oliva es la principal fuente de grasa agregada. Se incluyen con moderación el 
        pescado, los mariscos, los lácteos y la carne de aves. Por el contrario, la carne roja y los 
        dulces solo se comen ocasionalmente.La dieta mediterránea no está pensada para perder peso, 
        aquellas personas que sientan que les sobran algunos kilillos pueden seguirla, pero no será 
        garantía de bajar de peso, lo más importante en estos casos es que reduzcan la cantidad de grasas 
        que toman. O  incluso no consumirla por mucho tiempo, lo cual es totalmente falso.</p>
        <img src="static\img/dieta7.png" class="rounded" alt="..." width="300" height="300">
        <h5 class="text-center text-success fs-4">Toma más agua, come más fruta, sé más feliz</h5>

        <div class="text-center mt-5">
        <p><a href="https://medlineplus.gov/spanish/ency/patientinstructions/000895.htm" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-4" target="_blank">
        Para mas informacion
        </a></p>
        <p><a href="https://www.mediclarlab.com/blog/6-dietas-de-moda-sus-mitos-y-realidades" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-4" target="_blank">
        Para mas informacion
        </a></p>
        <a href="http://127.0.0.1:5000/edu" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-4">
                VOLVER
        </a>
        </div>
</div>
</div>
{% endblock content %}