{% extends "base.html" %}
{% block title %}Productos de la Tienda{% endblock title %}
{% block content %}
<div class="container-fluid p-3 bg-success-subtle">

    <div class="card shadow-lg p-4">
    <div class="row align-items-center mb-4">
        <div class="col-2">
        </div>
    </div>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid justify-content-center">
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="busqueda" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    </div>
</nav>

    <h3 class="mb-3 fw-bold text-dark">Recetas</h3>
    <div class="row g-3">
        <div class="col-6">
            <div class="card p-2 shadow-sm rounded-5 border-0">
                <div class="card-body p-2 text-center">
                    <h6 class="card-title m-0">Nombre</h6>
                    <p class="card-text small text-muted">Nam dapibus, enim non finibus posuere</p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card p-2 shadow-sm rounded-5 border-0">
                <div class="card-body p-2 text-center">
                    <h6 class="card-title m-0">Nombre</h6>
                    <p class="card-text small text-muted">Nam dapibus, enim non finibus posuere</p>
                </div>
            </div>
        </div>
        
        <div class="col-6">
            <div class="card p-2 shadow-sm rounded-5 border-0">
                <div class="card-body p-2 text-center">
                    <h6 class="card-title m-0">Nombre</h6>
                    <p class="card-text small text-muted">Nam dapibus, enim non finibus posuere</p>
                </div>
            </div>
        </div>
        
        <div class="col-6">
            <div class="card p-2 shadow-sm rounded-5 border-0">
                <div class="card-body p-2 text-center">
                    <h6 class="card-title m-0">Nombre</h6>
                    <p class="card-text small text-muted">Nam dapibus, enim non finibus posuere</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}