{% extends "base.html" %}
{% block title %}Regístrate{% endblock title %}
{% block content %}

<div class="bg-success-subtle flex-grow-1"> 

    <div class="container py-5 mx-auto">
        <div class="row justify-content-center my-5">

            <div class="col-12 col-md-8 col-lg-6">
                <div class="card shadow-lg p-4">
                    <h1 class="card-title text-center mb-4 text-success">Registrate</h1>
                    <h1 class="card-title text-center mb-4 text-success">🥗VitaPlena🥗</h1>

                    <form method= "POST" action="{{url_for('registro')}}">
                        <div class="row mb-3">
                            <div class="col text-success fs-4">
                                <img src="static\img/usu.png" class="rounded" alt="..." width="30" height="30" required>
                                    Nombre Completo:
                            </div>
                        </div>

                        <div class="row g-3 mb-4">
                        <div class="col">
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" aria-label="First name" required>
                        </div>

                        <div class="col">
                            <input type="text" class="form-control" id="apellido" name="apellido"placeholder="Apellido" aria-label="Last name" required>
                        </div>
                        </div>
                        <div class="mb-4">
                        <div class="text-success fs-4">
                            <img src="static\img/correo.png" class="rounded" alt="..." width="30" height="30">
                            <label for="inputEmail" class="form-label">Correo Electrónico:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Correo Electronico" required>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="text-success fs-4">
                    <img src="static\img/contra.png" class="rounded" alt="..." width="30" height="30">
                    <label for="inputPassword5" class="form-label">Crea una contraseña segura:</label>
                        <input type="password" id="password" name="contraseña" class="form-control" aria-describedby="passwordHelpBlock" required>
                        <div id="password" class="form-text">
                    </div>
                </div>
            </div>

                    <div class="row g-3 mb-4 text-success fs-4">
                        <div class="col">
                            <img src="static\img/aler.png" class="rounded" alt="..." width="30" height="30">
                            <label for="inputNombre" class="form-label">Preferencia:</label>
                            <input type="text" class="form-control" name="preferencia" id="preferiencia" placeholder="Escribe alergias/alimentos preferidos" required>
                        </div>

                        <div class="col text-success fs-4">
        <img src="static\img/objec.png" class="rounded" alt="..." width="30" height="30">
        <label for="select1" class="form-label">Objetivos:</label>
        <select class="form-select" id="objetivo" name="objetivos" aria-label="Primer menú de selección" required>
            <option selected></option>
            <option value="1">Bajar de peso</option>
            <option value="2">Aumentar masa muscular</option>
            <option value="3">Mantener peso</option>
            <option value="4">Mejorar digestión</option>
            <option value="5">Controlar una condición (diabetes, hipertensión)</option>
        </select>
    </div>
</div>

    <div class="col text-success fs-4">
        <img src="static\img/coc.png" class="rounded" alt="..." width="30" height="30">
        <label for="select2" class="form-label">Nivel de experiencia en la cocina:</label>
        <select class="form-select" id="cocina" name="cocina" aria-label="Segundo menú de selección" required>
            <option selected></option>
            <option value="6">Experto como todo un chef</option>
            <option value="7">Apasionado</option>
            <option value="8">Algo</option>
            <option value="9">Nada</option>
        </select>
    </div>

                        <div class="d-flex flex-column align-items-center gap-2">
                            <img src="static\img/VitaPlena.png" class="rounded w-25" alt="VitaPlena">
                            <button type="submit" class="btn btn-outline-success btn-lg">Comenzar</button>
                        </div>

                    </form>
                    <p><a href="{{url_for('inicio')}}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Volver al inicio</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}