{% extends "base.html" %}
{% block title %}Videos{% endblock title %}
{% block content %}
<div class="card">
        <h5 class="card-header text-center bg-success text-white fs-2">🏋️‍♀️RECUERDA🏋️‍♀️</h5>

        <div class="card-body">
        <h5 class="card-title text-center fs-3">Los resultados se consiguen con el tiempo, no de la noche a la mañana. Trabaja duro y sé constante</h5>
        <p class="fw-light text-center fs-4">Por eso aqui te dejamos algunos ejercicios por si quieres trabajar en ese cuerpo divino,solo come bien y hidratate y veras que estaras mucho mejor.</p>
        <div class="row">

<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-success text-center fs-1">🏋️‍♀️Tiempo de ejercicio🏋️‍♀️</h5>
        <p class="card-text text-center fs-4">
La RUTINA Ideal para tener más ENERGÍA</p>
        <a href="https://youtu.be/ADiHiQ2UC8Q?si=LuTpgEpjzNE20BdH" class="btn btn-success">Click aqui</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center text-success fs-1">🏋️‍♀️Tiempo de ejercicio🏋️‍♀️</h5>
        <p class="card-text text-center fs-4">
Rutina de ejercicios para un corazón saludable</p>
        <a href="https://youtu.be/Y0SpMquyQNU?si=QNErudnjxfxY1Bfl" class="btn btn-success">Click aqui</a>
      </div>
    </div>
  </div>
</div>
        <p class="text-success text-center fs-3">Amate asi como eres pero recuerda que no debes sobrepasarte,por que podria ser riesgoso para tu salud</p>

</div>
</div>
{% endblock content %}
