{% extends "base.html" %}
{% block title %}Videos{% endblock title %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-9">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-header text-center bg-success text-white py-4 rounded-top-4">
                    <h1 class="display-4 fw-bolder mb-0">
                        🏋️‍♀️ Tiempo de ejercicio 🏋️‍♀️
                    </h1>
                </div>
        <div class="card-body">
        <h5 class="card-title text-center fs-3">Los resultados se consiguen con el tiempo, no de la noche a la mañana. Trabaja duro y sé constante</h5>
        <p class="fw-light text-center fs-4">Por eso aqui te dejamos algunos ejercicios por si quieres trabajar en ese cuerpo divino,solo come bien y hidratate y veras que estaras mucho mejor.</p>
        <div class="row">
<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title text-success text-center fs-1">🏋️‍♀️Tiempo de ejercicio🏋️‍♀️</h5>
        <p class="card-text text-center fs-4">
La RUTINA Ideal para tener más ENERGÍA</p>
        <a href="https://youtu.be/ADiHiQ2UC8Q?si=LuTpgEpjzNE20BdH" class="btn btn-success">Click aqui</a>
        </div>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title text-center text-success fs-1">🏋️‍♀️Tiempo de ejercicio🏋️‍♀️</h5>
        <p class="card-text text-center fs-4">
Rutina de ejercicios para un corazón saludable</p>
        <a href="https://youtu.be/Y0SpMquyQNU?si=QNErudnjxfxY1Bfl" class="btn btn-success">Click aqui</a>
        </div>
    </div>
    </div>
</div>
        <p class="text-success text-center fs-3">Amate asi como eres pero recuerda que no debes sobrepasarte,por que podria ser riesgoso para tu salud</p>
                <div class="card-body p-5">
                    <h2 class="card-title text-center mb-4 display-6 fw-bold text-dark">
                    Recuerda: Los resultados se consiguen con el tiempo, no de la noche a la mañana.
                    </h2>
                    <p class="lead text-center fs-4 text-muted mb-5 border-bottom pb-3">
                        Trabaja duro y sé constante. Por eso, aquí te dejamos algunos ejercicios. ¡Solo come bien, hidrátate y verás que estarás mucho mejor!
                    </p>
                    <div class="row g-4">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="card shadow-sm border-success border-5 bg-light">
                                <div class="card-body d-flex flex-column justify-content-between p-4">
                                    <h5 class="card-title text-success text-center display-6 fw-bolder mb-3">
                                        ⏱️ RUTINA RÁPIDA ⏱️
                                    </h5>
                                    <p class="card-text text-center fs-4 text-dark mb-4">
                                        La RUTINA Ideal para tener más ENERGÍA
                                    </p>
                                    <div class="text-center mt-auto">
                                        <a href="https://youtu.be/ADiHiQ2UC8Q?si=LuTpgEpjzNE20BdH" class="btn btn-success btn-lg fw-bold w-100 shadow-sm rounded-pill text-dark">
                                            ¡Click aquí para entrenar!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card shadow-sm border-success border-5 bg-light">
                                <div class="card-body d-flex flex-column justify-content-between p-4">
                                    <h5 class="card-title text-center text-success display-6 fw-bolder mb-3">
                                        ❤️ FUERZA VITAL ❤️
                                    </h5>
                                    <p class="card-text text-center fs-4 text-dark mb-4">
                                        Rutina de ejercicios para un corazón saludable
                                    </p>
                                    <div class="text-center mt-auto">
                                        <a href="https://youtu.be/Y0SpMquyQNU?si=QNErudnjxfxY1Bfl" class="btn btn-success btn-lg fw-bold w-100 shadow-sm rounded-pill text-dark">
                                            ¡Click aquí para entrenar!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card shadow-sm border-success border-5 bg-light">
                                <div class="card-body d-flex flex-column justify-content-between p-4">
                                    <h5 class="card-title text-center text-success display-5 fw-bolder mb-3">
                                        👩🏻 MUJERES👩🏻 
                                    </h5>
                                    <p class="card-text text-center fs-4 text-dark mb-4">
                                        Rutina de ejercicios exclusiva para mujeres
                                    </p>
                                    <div class="text-center mt-auto">
                                        <a href="https://www.youtube.com/watch?v=0PumJ_Z0MuQ" class="btn btn-success btn-lg fw-bold w-100 shadow-sm rounded-pill text-dark">
                                            ¡Click aquí para entrenar!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card shadow-sm border-success border-5 bg-light">
                                <div class="card-body d-flex flex-column justify-content-between p-4">
                                    <h5 class="card-title text-center text-success display-6 fw-bolder mb-3">
                                        👨🏻HOMBRES👨🏻 
                                    </h5>
                                    <p class="card-text text-center fs-4 text-dark mb-4">
                                        Rutina de ejercicios exclusiva para hombres
                                    </p>
                                    <div class="text-center mt-auto">
                                        <a href="https://www.youtube.com/watch?v=Gq81mz8FaaE" class="btn btn-success btn-lg fw-bold w-100 shadow-sm rounded-pill text-dark">
                                            ¡Click aquí para entrenar!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <p class="text-success text-center fs-4 fw-bolder mb-0">
                            Ámate así como eres, pero recuerda que no debes sobrepasarte, porque podría ser riesgoso para tu salud.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}
